## Spring configuration
spring:
  config:
    # settings for local development environment only
    import: optional:file:.env[.properties];optional:file:./application-local.yaml
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_SERVERS}/${POSTGRES_DB_NAME}?currentSchema=${DB_SCHEMA}&targetServerType=primary
    username: ${POSTGRES_DB_USER_USERNAME}
    password: ${POSTGRES_DB_USER_PASSWORD}
  data:
    mongodb:
      authentication-database: admin
      host: localhost
      port: ${MONGO_DB_PORT}
      database: ${MONGO_DB_NAME}
      username: ${MONGO_DB_USER_NAME}
      password: ${MONGO_DB_USER_PASSWORD}

# Application-specific properties
app:
  integration:
    api:
      iexcloud:
        url:
          quotes: https://cloud.iexapis.com/stable/stock/{stockName}/quote
          stockNameKey: '{stockName}'
          stock: https://cloud.iexapis.com/stable/ref-data/symbols
        token: ${IEXCLOUD_API_TOKEN}
        maxRps: 5
